<!--<p>Welcome to <%= title %></p>-->
<header>
	<div id="headerInner">
		<p class="greeting"></p>
		<form id="login">
			<input type="text" name="user" placeholder="username" />
			<input type="submit" value="login" />
		</form>
		<h1><%= title %></h1>
	</div>
</header>
<div id="wrap">
	<div id="online">
		<h2>Who's Online</h2>
	</div>
	<div id="chatBox">
		<div id="messages">
			<table>

			</table>
		</div>
		<form id="chats">
			<input type="text" name="chats" /><br />
			<input type="submit" value="Send" />
		</form>
	</div>
</div>