/* Globals */
html {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #efefef url(../images/body-bg.png);
	padding: 0;
	margin: 0;
}

*:focus {
	outline: 0;
}

h1 {
	color: #fff;
	font-size: 24px;
	margin: 0;
	padding: 15px 0 0 0;
}

h2{
	color: #fff;
	font-size: 20px;
	margin: 15px 0px 10px 15px;
	font-weight: normal;
}

a {
	color: #00B7FF;
}

/* Structural */
header {
	margin: 0 0 25px 0;
	padding: 0;
	width: 100%;
	height: 65px;
	background: url(../images/header-bg.png) repeat-x center;
	border-bottom: 1px solid #eee;
}

#headerInner {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

p.greeting {
	float: right;
	clear: right;
	margin: 7px 0 5px 0;
	color: #fff;
}

a.logout {
	float: right;
	clear: right;
	display: none;
	padding: 5px 12px;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	border-radius: 12px;
	background: #cc5959;
	background: -moz-linear-gradient(top,  #cc5959 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc5959), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top,  #cc5959 0%,#cf0404 100%);
	background: -o-linear-gradient(top,  #cc5959 0%,#cf0404 100%);
	background: -ms-linear-gradient(top,  #cc5959 0%,#cf0404 100%);
	background: linear-gradient(top,  #cc5959 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc5959', endColorstr='#cf0404',GradientType=0 );
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
	text-shadow: 0px -1px -1px rgba(0, 0, 0, 0.5);
}

a.logout:hover {
	box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.5);
}

a.logout:active {
	background: #cf0404;
	background: -moz-linear-gradient(top,  #cf0404 0%, #cc5959 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf0404), color-stop(100%,#cc5959));
	background: -webkit-linear-gradient(top,  #cf0404 0%,#cc5959 100%);
	background: -o-linear-gradient(top,  #cf0404 0%,#cc5959 100%);
	background: -ms-linear-gradient(top,  #cf0404 0%,#cc5959 100%);
	background: linear-gradient(top,  #cf0404 0%,#cc5959 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#cc5959',GradientType=0 );
}

/* Login Form */
#login {
	float: right;
	padding: 17px 0px 10px 10px;
	border-radius: 0 0 3px 3px; 
	border-top: none;
}

#login input[type="text"]{
	width: 120px;
	padding: 5px;
	border-radius: 3px;
	border: none;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.6);
}

#login input[type="submit"]{
	padding: 5px 12px;
	border: none;
	color: #fff;
	border-radius: 11px;
	background: #4096ee;
	background: -moz-linear-gradient(top,  #4096ee 0%, #0075ea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#0075ea));
	background: -webkit-linear-gradient(top,  #4096ee 0%,#0075ea 100%);
	background: -o-linear-gradient(top,  #4096ee 0%,#0075ea 100%);
	background: -ms-linear-gradient(top,  #4096ee 0%,#0075ea 100%);
	background: linear-gradient(top,  #4096ee 0%,#0075ea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#0075ea',GradientType=0 );
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
	text-shadow: 0px -1px -1px rgba(0, 0, 0, 0.6);
}

#login input[type="submit"]:hover {
	box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.6);
	cursor: pointer;
}

#wrap {
	width: 960px;
	margin: 0 auto;
}

#online {
	float: right;
	clear: right;
	width: 250px;
	min-height: 500px;
	background: url(../images/window-bg.png);
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7); 
}

#online > ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 15px;
}

#online > ul > li {
	padding: 2px 0;
	color: #7f85ff;
}

#chatBox {
	width: 550px;
	height: 500px;
	background: url(../images/window-bg.png);
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}

#chatBox-inner {
	width: 500px;
	margin: 0 auto;
	overflow: auto;
	color: #fff;
}

#messages {
	width: 475px;
	height: 400px;
	margin: 10px auto;
}

#messages table {
	border-collapse: collapse;
	width: 100%;
}

#messages table tr {

}

#messages table tr td.user {
	color: #7f85ff;
	font-size: 14px;
	padding-right: 10px;
	width: 50px;
	vertical-align: top:
}

#messages  table tr td.message {
	font-size: 14px;
	width: 400px;
	vertical-align: top;
}
 
/* Chat Inputs */
form#chats {
	width: 525px;
	margin: 0 auto 5px auto;
}

form#chats input[type="text"] {
	width: 515px;
	padding: 5px;
	border-radius: 3px;
	border: none;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.6);
}

form#chats input[type="submit"] {
	float: right;
	color: #fff;
	margin: 5px 0 0 0;
	padding: 6px 20px;
	font-size: 16px;
	border: none;
	background: #4c994c;
	background: -moz-linear-gradient(top,  #4c994c 0%, #259906 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c994c), color-stop(100%,#259906));
	background: -webkit-linear-gradient(top,  #4c994c 0%,#259906 100%);
	background: -o-linear-gradient(top,  #4c994c 0%,#259906 100%);
	background: -ms-linear-gradient(top,  #4c994c 0%,#259906 100%);
	background: linear-gradient(top,  #4c994c 0%,#259906 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c994c', endColorstr='#259906',GradientType=0 );
	border-radius: 15px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
	text-shadow: 0px -1px -1px rgba(0, 0, 0, 0.6);
	
}

form#chats input[type="submit"]:hover {
	cursor: pointer;
/*
	background: rgb(150,197,111); 
	background: -moz-linear-gradient(top, rgba(150,197,111,1) 0%, rgba(169,219,128,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,197,111,1)), color-stop(100%,rgba(169,219,128,1))); 
	background: -webkit-linear-gradient(top, rgba(150,197,111,1) 0%,rgba(169,219,128,1) 100%); 
	background: -o-linear-gradient(top, rgba(150,197,111,1) 0%,rgba(169,219,128,1) 100%); 
	background: -ms-linear-gradient(top, rgba(150,197,111,1) 0%,rgba(169,219,128,1) 100%); 
	background: linear-gradient(top, rgba(150,197,111,1) 0%,rgba(169,219,128,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c56f', endColorstr='#a9db80',GradientType=0 );
*/
	box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.7);
}

form#chats input[type="submit"]:active {
	background: #259906;
	background: -moz-linear-gradient(top,  #259906 0%, #4c994c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#259906), color-stop(100%,#4c994c));
	background: -webkit-linear-gradient(top,  #259906 0%,#4c994c 100%);
	background: -o-linear-gradient(top,  #259906 0%,#4c994c 100%);
	background: -ms-linear-gradient(top,  #259906 0%,#4c994c 100%);
	background: linear-gradient(top,  #259906 0%,#4c994c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#259906', endColorstr='#4c994c',GradientType=0 );
}
