/* Author: Sean Harvey */

html {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

body {
	font-family: Consolas, Helvetica, Arial, sans-serif;
	color: #333;
	background: #afced1;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 0 0 200px;
	padding: 15px 0 5px 30px;
	color: #698283;
}

h2.past-title {
	display: none;
}

.wrap.home {
	width: 960px;
	margin: 0 auto;
	box-shadow: 1px 1px 3px #777;
}

header {
	height: 60px;
	width: 100%;
	background: #d55d20;
	border-bottom: 1px solid #7b340f;
	margin: 0;
	position: relative;
}

header h1 {
	margin: 0;
	text-align: left;
	color: #732f0d;
	padding: 20px 0 0 30px;
	font-size: 24px;
}

header form {
	float: right;
	margin: 0;
	padding: 10px 30px 0 0;
	text-align: right;
}

header form input[type="text"],
header form input[type="password"] {
	border: none;
	background: #fff;
	padding: 3px 4px;	
	margin: 0;
}

header form input[type="submit"]{
	color: #698283;
	text-decoration: none;
	padding: 3px 10px;
	margin-top: 3px;
	background: #A8CFD2;
	text-transform: uppercase;
	font-size: 10px;
	border: 1px solid #698283;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

header p {
	float: right;
	margin: 0;
	color: #fff;
	text-align: right;
	padding: 22px 30px 0 0;
	font-size: 14px;
	display: none;
}

header p.notify {
	float: none;
	position: absolute;
	top: 0px;
	left: 40%;
}

article {
	width: 100%;
	background: #fff;
	min-height: 550px;
	padding-bottom: 20px;
}

table.past {
	display: none;
}

table {
	border-collapse: collapse;
	border: 1px solid #c1c1c1;
	width: 700px;
	margin: 0px auto;
}

/* Table Sorter */
table thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: 90% center;
	cursor: pointer;
}
table thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table thead tr .headerSortDown, 
table thead tr .headerSortUp {
	background-color: #ccc;
}

table thead {
	text-align: left;
	background: #fafafa;
	border-bottom: 1px solid #c1c1c1;
	color: #4a4849;
	background: -moz-linear-gradient(top,  #fafafa 0%, #ebebeb 50%, #ebebeb 100%, #ebebeb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(50%,#ebebeb), color-stop(100%,#ebebeb), color-stop(100%,#ebebeb));
	background: -webkit-linear-gradient(top,  #fafafa 0%,#ebebeb 50%,#ebebeb 100%,#ebebeb 100%);
	background: -o-linear-gradient(top,  #fafafa 0%,#ebebeb 50%,#ebebeb 100%,#ebebeb 100%);
	background: -ms-linear-gradient(top,  #fafafa 0%,#ebebeb 50%,#ebebeb 100%,#ebebeb 100%);
	background: linear-gradient(top,  #fafafa 0%,#ebebeb 50%,#ebebeb 100%,#ebebeb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ebebeb',GradientType=0 );
}

table thead tr th {
	padding: 8px 0 5px 10px;
	color: #4a4849;
}

table thead tr .header:last-child {
	background-image: none;
}

table tbody tr:nth-child(even) {
	background: #eeeeee;
}

table tbody tr td {
	padding: 11px 0 7px 10px;
	color: #555555;
}

table tbody tr td input[type="text"] {
	width: 80px;
}

table tbody tr td input[type="checkbox"] {
	width: 15px;
}

a.trash {
	display: inline-block;
	background: url(../images/trash.png) no-repeat 0 0;
	width: 14px;
	height: 16px;
	margin: 0 3px;
	text-decoration: none;
}

a.edit {
	display: inline-block;
	background: url(../images/edit.png) no-repeat 0 0;
	width: 14px;
	height: 16px;
	margin: 0 3px;
}

a.save {
	display: inline-block;
	background: url(../images/check.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	margin: 0 3px;
	display: none;
}

article aside {
	position: relative;
	float: left;
	clear: left;
	background: #fafafa;
	width: 200px;
	border-right: 1px solid #c1c1c1;
}

aside a.add-to-list {
	position: absolute;
	top: 20px;
	left: 31px;
	background: #A8CFD2 url(../images/add-to-list-icon.png) no-repeat 94% center;
	padding: 8px 66px 6px 10px;
	color: #698283;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	border: 1px solid #698283;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

aside a.logout {
	position: absolute;
	top: 170px;
	left: 31px;
	color: rgba(0, 0, 0, 0.4);
	font-weight: bold;
	text-decoration: none;
	background: #d55d20;
	text-transform: uppercase;
	font-size: 14px;
	padding: 8px 15px 5px 15px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

aside a:hover {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

/*
button#add-to-list {
	border: none;
	display: block;
	width: 165px;
	height: 37px;
	background: url(../images/add-to-list.png) no-repeat center center;
	margin: 20px 0 0 30px;
}

button#add-to-list:hover {
	cursor: pointer;
}
*/

article ul {
	list-style: none;
	padding: 0;
	margin: 70px 0 20px 0;
	width: 170px;
	float: right;
}

article ul li {
	border-top: 1px solid #c1c1c1;
	padding: 12px 0 7px 5px;
	color: #777777;
	font-size: 14px;
	background: url(../images/nav-sprite.png) no-repeat 135px center;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

article ul li:last-child {
	border-bottom: 1px solid #c1c1c1;
}

article ul li.active {
	border-right: 4px solid #d55d20;
	color: #d55d20;
}

article ul li:hover {
	cursor: pointer;
	color: #d55d20;
}

article ul li a {
	color: #777777;
	text-decoration: none;
	padding: 0 0 0 5px;
}